<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Using tailwind CSS -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <!-- {% block style %}{% endblock %} -->
        <title>Pollster {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="w-1/2 m-auto">
            <h1 class="font-bold text-center text-pink-600 text-lg my-10 bg-pink-100 py-5 rounded-full">Polls</h1>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
